.elementor-227 .elementor-element.elementor-element-b972308 > .elementor-container{
    min-height:46px;
}
.elementor-227 .elementor-element.elementor-element-b972308 > .elementor-container > .elementor-column > .elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-b972308 .elementor-repeater-item-1f80c70.jet-parallax-section__layout .jet-parallax-section__image{
    background-size:auto;
}
.elementor-bc-flex-widget .elementor-227 .elementor-element.elementor-element-a1cd68d.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-a1cd68d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-a1cd68d > .elementor-element-populated{
    padding:0px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){
    padding-bottom:calc(33px/2);
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){
    margin-top:calc(33px/2);
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{
    margin-right:calc(33px/2);
    margin-left:calc(33px/2);
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items.elementor-inline-items{
    margin-right:calc(-33px/2);
    margin-left:calc(-33px/2);
}
body.rtl .elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    left:calc(-33px/2);
}
body:not(.rtl) .elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    right:calc(-33px/2);
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-icon i{
    color:var( --e-global-color-secondary );
    transition:color 0.3s;
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-icon svg{
    fill:var( --e-global-color-secondary );
    transition:fill 0.3s;
}
.elementor-227 .elementor-element.elementor-element-f32e17c{
    --e-icon-list-icon-size:16px;
    --icon-vertical-offset:0px;
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-icon{
    padding-right:11px;
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-item > a{
    font-family:"Montserrat", Sans-serif;
    font-size:15px;
    font-weight:500;
}
.elementor-227 .elementor-element.elementor-element-f32e17c .elementor-icon-list-text{
    color:#FFFFFF;
    transition:color 0.3s;
}
.elementor-227 .elementor-element.elementor-element-9488dcd > .elementor-container > .elementor-column > .elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-5dee39e > .elementor-element-populated{
    padding:0px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-b442ca8{
    --grid-template-columns:repeat(0, auto);
    --icon-size:15px;
    --grid-column-gap:5px;
    --grid-row-gap:0px;
}
.elementor-227 .elementor-element.elementor-element-b442ca8 .elementor-widget-container{
    text-align:right;
}
.elementor-227 .elementor-element.elementor-element-b442ca8 .elementor-social-icon{
    background-color:#02010100;
}
.elementor-227 .elementor-element.elementor-element-b972308:not(.elementor-motion-effects-element-type-background), .elementor-227 .elementor-element.elementor-element-b972308 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#1E1E1E70;
}
.elementor-227 .elementor-element.elementor-element-b972308{
    border-style:solid;
    border-width:0px 0px 0px 0px;
    border-color:rgba(227, 234, 248, 0.2);
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-227 .elementor-element.elementor-element-b972308, .elementor-227 .elementor-element.elementor-element-b972308 > .elementor-background-overlay{
    border-radius:0px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-b972308 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-227 .elementor-element.elementor-element-778e6df > .elementor-container > .elementor-column > .elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-778e6df .elementor-repeater-item-829a134.jet-parallax-section__layout .jet-parallax-section__image{
    background-size:auto;
}
.elementor-227 .elementor-element.elementor-element-3c767d3 .raven-site-logo img, .elementor-227 .elementor-element.elementor-element-3c767d3 .raven-site-logo svg{
    width:180px;
}
.elementor-227 .elementor-element.elementor-element-3c767d3 .raven-site-logo{
    text-align:left;
}
.elementor-bc-flex-widget .elementor-227 .elementor-element.elementor-element-5b4d24e.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-5b4d24e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-227 .elementor-element.elementor-element-5b4d24e.elementor-column > .elementor-widget-wrap{
    justify-content:flex-end;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li > a.raven-menu-item{
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:1px;
    padding:0px 0px 10px 0px;
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-horizontal .raven-nav-menu > li:not(:last-child){
    margin-right:28px;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-vertical .raven-nav-menu > li:not(:last-child){
    margin-bottom:28px;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li:not(.current-menu-parent):not(.current-menu-ancestor) > a.raven-menu-item:hover:not(.raven-menu-item-active), .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li:not(.current-menu-parent):not(.current-menu-ancestor) > a.highlighted:not(.raven-menu-item-active){
    color:var( --e-global-color-secondary );
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li > a.raven-menu-item-active, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li.current-menu-parent > a, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-nav-menu > li.current-menu-ancestor > a{
    color:#FFFFFF;
    border-color:var( --e-global-color-secondary );
    border-style:solid;
    border-width:0px 0px 2px 0px;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li > a.raven-submenu-item{
    font-family:"Poppins", Sans-serif;
    font-size:13px;
    font-weight:normal;
    text-transform:uppercase;
    color:#FFFFFF;
    background-color:var( --e-global-color-primary );
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li:not(:last-child){
    border-bottom-style:none;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu{
    background-color:var( --e-global-color-primary );
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li:not(.current-menu-parent):not(.current-menu-ancestor) > a.raven-submenu-item:hover:not(.raven-menu-item-active), .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li:not(.current-menu-parent):not(.current-menu-ancestor) > a.highlighted:not(.raven-menu-item-active){
    color:#FFFFFF;
    background-color:#3352A8;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li > a.raven-menu-item-active, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li.current-menu-parent > a, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-main .raven-submenu > li.current-menu-ancestor > a{
    color:#FFFFFF;
    background-color:#3352A8;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item i._mi{
    font-size:40px !important;
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-submenu-item i._mi{
    font-size:40px !important;
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item .sub-arrow svg{
    width:40px !important;
    height:40px !important;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item .sub-arrow{
    color:#FFFFFF;
    fill:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item:hover i._mi{
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-submenu-item:hover i._mi{
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item:hover .sub-arrow{
    color:#FFFFFF;
    fill:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile .raven-nav-menu li > a{
    font-family:"Poppins", Sans-serif;
    font-size:18px;
    font-weight:700;
    text-transform:uppercase;
    line-height:32px;
    letter-spacing:1px;
    padding:8px 32px 8px 32px;
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile .raven-nav-menu li > a:hover{
    color:#D9D6D6;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile .raven-nav-menu li > a.raven-menu-item-active, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile .raven-nav-menu li > a:active{
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle{
    text-align:center;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button{
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button svg{
    fill:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::after, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::before{
    background-color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile{
    width:310px;
    background-color:var( --e-global-color-primary );
}
.elementor-227 .elementor-element.elementor-element-c1e30b2{
    --menu-container-width:310;
    width:auto;
    max-width:auto;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-close-button{
    color:#FFFFFF;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-close-button:hover{
    color:#D9D6D6;
}
.elementor-227 .elementor-element.elementor-element-c1e30b2 > .elementor-widget-container{
    margin:0px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-778e6df:not(.elementor-motion-effects-element-type-background), .elementor-227 .elementor-element.elementor-element-778e6df > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:rgba(78, 78, 78, 0);
}
.elementor-227 .elementor-element.elementor-element-778e6df{
    border-style:solid;
    border-width:0px 0px 0px 0px;
    border-color:rgba(227, 234, 248, 0.2);
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:10px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-778e6df > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media(max-width:1024px){
    .elementor-bc-flex-widget .elementor-227 .elementor-element.elementor-element-fa68980.elementor-column .elementor-widget-wrap{
        align-items:center;
    }
    .elementor-227 .elementor-element.elementor-element-fa68980.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
        align-content:center;
        align-items:center;
    }
    .elementor-227 .elementor-element.elementor-element-fa68980 > .elementor-element-populated{
        padding:0px 0px 10px 20px;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e > .elementor-element-populated{
        padding:0px 20px 10px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item i._mi{
        font-size:20px !important;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-submenu-item i._mi{
        font-size:20px !important;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item .sub-arrow svg{
        width:20px !important;
        height:20px !important;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-mobile .raven-nav-menu li > a{
        font-size:16px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button{
        font-size:31px;
        color:#FFFFFF;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-custom-icon svg{
        width:31px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger .hamburger-box{
        width:31px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-box{
        height:calc(((31px/8) * 3) + calc((31px/4) * 2));
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-box .hamburger-inner{
        margin-top:calc((31px/8) / -2);
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner{
        width:31px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::before{
        width:31px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::after{
        width:31px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::before, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::after{
        height:calc(31px / 8);
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger:not(.is-active) .hamburger-inner::before{
        top:calc(((31px/8) + calc(31px/4)) * -1);
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger:not(.is-active) .hamburger-inner::after{
        bottom:calc(((31px/8) + calc(31px/4)) * -1);
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button svg{
        fill:#FFFFFF;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::after, .elementor-227 .elementor-element.elementor-element-c1e30b2 .hamburger-inner::before{
        background-color:#FFFFFF;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button:hover{
        color:#E0D2D2;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button:hover svg{
        fill:#E0D2D2;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button:hover .hamburger-inner, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button:hover .hamburger-inner::after, .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-nav-menu-toggle-button:hover .hamburger-inner::before{
        background-color:#E0D2D2;
    }
    .elementor-227 .elementor-element.elementor-element-778e6df{
        border-width:0px 0px 0px 0px;
        padding:20px 0px 0px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-778e6df, .elementor-227 .elementor-element.elementor-element-778e6df > .elementor-background-overlay{
        border-radius:0px 0px 0px 0px;
    }
}
@media(min-width:768px){
    .elementor-227 .elementor-element.elementor-element-fa68980{
        width:17%;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e{
        width:83%;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-227 .elementor-element.elementor-element-5dee39e{
        width:45%;
    }
    .elementor-227 .elementor-element.elementor-element-fa68980{
        width:30%;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e{
        width:70%;
    }
}
@media(max-width:767px){
    .elementor-227 .elementor-element.elementor-element-fa68980{
        width:80%;
    }
    .elementor-227 .elementor-element.elementor-element-fa68980 > .elementor-element-populated{
        padding:0px 0px 20px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-3c767d3 > .elementor-widget-container{
        padding:0px 0px 0px 50px;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e{
        width:20%;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e.elementor-column > .elementor-widget-wrap{
        justify-content:center;
    }
    .elementor-227 .elementor-element.elementor-element-5b4d24e > .elementor-element-populated{
        padding:0px 10px 10px 10px;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item i._mi{
        font-size:18px !important;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-submenu-item i._mi{
        font-size:18px !important;
    }
    .elementor-227 .elementor-element.elementor-element-c1e30b2 .raven-menu-item .sub-arrow svg{
        width:18px !important;
        height:18px !important;
    }
    .elementor-227 .elementor-element.elementor-element-778e6df{
        border-width:0px 0px 0px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-778e6df, .elementor-227 .elementor-element.elementor-element-778e6df > .elementor-background-overlay{
        border-radius:0px 0px 0px 0px;
    }
}
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */
/* End JX Custom Fonts CSS */
